.personal{
    width: 100%;
    border: 5px solid rgb(53, 176, 191);
    border-radius: 2rem;
    transition: all .2s ease-in-out;
}
.personal:hover{
    border: 10px solid rgb(53, 176, 191);
    border-radius: 4rem;
}
@media (min-width: 600px){
    .contenido-img{
        width: 65%;
    }
}