*, *:before, *:after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img{
  max-width: 100%;
}
body{
  background-color: rgb(3,5,26);
  color: white;
  font-family: 'Lato', sans-serif;
}
